{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% trans %}Country Creation{% endtrans %}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="{% trans %} Create{% endtrans %}" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('country_index') }}">{% trans %}Back To The List{% endtrans %}</a>
        </li>
    </ul>
{% endblock %}
