<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>My PDF</title>
</head>
<body>
<header>
    <img src="{{ path ~ asset('image/GEO.jpeg') }}" alt="Logo" height="180" />
</header>
</body>
</html>