<style>
    #owl-demo6 .item {
        height: 250px;
        max-height: 3000px;
        min-height: 300px;
        overflow: hidden;
    }
    
  #owl-demo6 .course-box {
        align-content: center;
        text-align: center;
        overflow: hidden;
        height: 250px;
        max-height: 250px;
        word-wrap: word-wrap;
    }
    
  #owl-demo6 .course-box h4{

      word-wrap: word-wrap;
      font-size:2em;
      color:gold;
      text-decoration: blink underline;
    }
    
    </style>
<div id="owl-demo6" class="owl-carousel ">
       
            <div class="item d-flex">
        <div class="w3-padding w3-teal ">
            <div class="course-box card-box w3-teal ">
                <h4>{% trans %}Watch over your sleep{% endtrans %}</h4>
                <p>{% trans %} Dear students,  Please get enough sleep, Olympic form ensures better academic performance
{% endtrans %}</p>

            </div>
        </div>
   
            </div>

  
       
       
            <div class="item d-flex">
        <div class="w3-padding w3-teal">
            <div class="course-box card-box w3-teal">
                <h4>{% trans %}Promote yours strengths{% endtrans %}</h4>
                <p>{% trans %}Don't get stuck on a bad school result, a mistake is an opportunity to learn{% endtrans %}</p>

            </div>
        </div>
   
            </div>
    
    
    
            <div class="item d-flex">
        <div class="w3-padding w3-teal  ">
            <div class="course-box card-box w3-teal   ">
                <h4>{% trans %}Have a plan{% endtrans %}</h4>
                <p>{% trans %}At the beginning of each year, identify common mistakes and threatening subjects 
                    from the past year
.{% endtrans %}</p>

            </div>
        </div>
   
            </div>

  
       
       

<div class="item d-flex">
        <div class="w3-padding w3-teal  ">
            <div class="course-box card-box w3-teal   ">
                <h4>{% trans %}Detect negative behavior {% endtrans %}</h4>
                <p>{% trans %}We must prioritize dialogue with our loved ones. They are  the most likely 
                    to inform us when we get lost.
{% endtrans %}</p>
                

            </div>
        </div>
   
            </div>

  
         <div class="item d-flex">
        <div class="w3-padding w3-teal  ">
            <div class="course-box card-box w3-teal   ">
                <h4>{% trans %}Finding the right balance{% endtrans %}</h4>
                <p>{% trans %}It's important to ask for help, but don't fall into the trap of letting others do your homework and homework.{% endtrans %}</p>
                <p>{% trans %} Learn to imagine and find solutions.{% endtrans %}</p>

            </div>
        </div>
   
            </div>
       
              <div class="item d-flex">
        <div class="w3-padding w3-teal  ">
            <div class="course-box card-box w3-teal   ">
                <h4>{% trans %}Find your rhythm{% endtrans %}</h4>
                <p>{% trans %}Finding your own pace of work is fundamental for a learner.{% endtrans %}</p>
                <p>{% trans %}Your success depends at least as much on your attitude as on your skills.{% endtrans %}</p>
            </div>
        </div>
   
            </div>

            <div class="item d-flex">
        <div class="w3-padding w3-teal  ">
            <div class="course-box card-box w3-teal   ">
                <h4>{% trans %}Promote studies{% endtrans %}</h4>
                <p>{% trans %}Do You want to be a doctor? Read biology{% endtrans %}</p>
                <p>{% trans %}You want to become a reporter? Review your language.{% endtrans %}</p>
                <p>{% trans %}You want to become an astronaut? Do not mess with Physic, {% endtrans %}</p>
                <p>{% trans %}Do you want to become scientist? Do not give up,Einstein{% endtrans %}</p>
            </div>
        </div>
   
            </div>
                <div class="item d-flex">
        <div class="w3-padding w3-teal  ">
            <div class="course-box card-box w3-teal   ">
                <h4 >{% trans %}Set clear goals{% endtrans %}</h4>
                <p>{% trans %}Get fifteen out of twenty in dictation{% endtrans %}</p>
                <p>{% trans %}Understand the equations in one week.{% endtrans %}</p>
                <p>{% trans %}Increase your level in physic{% endtrans %}</p>
                <p>{% trans %}Do not forget that : You are the Boss.{% endtrans %}</p>
            </div>
        </div>
   
            </div>          
          
  
       
            </div>
