 <div class="w3-row w3-padding" style="width: 100% ">
     <style>
/*#owl-demo3 .item {
        height: 250px;
        max-height: 250px;
        min-height: 250px;
        overflow: hidden;
    }*/
    
     </style>
     
        <div id="owl-demo3" class="owl-carousel text center  w3-teal w3-opacity w3-round-large w3-center " >
 <div class="item"><h2>{% trans %}ALL THE INFORMATION ABOUT YOUR CHILD WHEREVER YOU ARE{% endtrans %}</h2></div>
 <div class="item"><h2>{% trans %}YOU ARE INFORMED ON THE GAPS TO HELP THE CHILD{% endtrans %}</h2></div>
 <div class="item"><h2>{% trans %}YOU ARE INFORMED OF CHILD'S DISCIPLINE{% endtrans %}</h2></div>
 <div class="item"><h2>{% trans %}YOU WILL BE INFORMED OF THE ARRIVING TIME IN CLASS{% endtrans %}</h2></div>
 <div class="item"><h2>{% trans %}EXCHANGE PLATFORM WITH SCHOOL{% endtrans %}</h2></div>
 <div class="item"><h2>{% trans %}ALL SCHOOL LIFE OF UOUR CHILD IN ONE CLICK{% endtrans %}</h2></div>
 <div class="item"><h2>{% trans %}YOU WILL BE INFORMED OF THE LESSONS THE CHILD MISSING{% endtrans %}</h2></div>
 <div class="item"><h2>{% trans %}YOU WILL BE INFORMED ABOUT LESSON AND AVERAGE{% endtrans %}</h2></div>
 <div class="item"><h2>{% trans %}BETTER CONTROL OF YOUR CHILD {% endtrans %}</h2></div>
 <div class="item"><h2>{% trans %}YOU WILL BE INFORMED ON EVERYTHING{% endtrans %}</h2></div>
                       </div>
        
    </div>
           
    
