<div class="text city " id="findings">
                                        
                                        <summary > 
                                            <h4 class="fa fa-angle-right w3-button w3-round -large w3-red icon icon-next">{% trans %}Findings{% endtrans %}<!--span class="icon icon-plus"></span--></h4>
                                        </summary>
                                                                                <img  class="w3-image w3-padding w3-round-xxlarge w3-third" src="{{ asset('image/school4.jpg') }}">

                                                                            <h4>{% trans %}Findings{% endtrans %}</h4>

                                    <ul class="w3-ul w3-card w3-hoverable">
                                         
                                        <li>{% trans %} Difficulty for parents to honor school invitations

                                        {% endtrans %}</li><li>{% trans %}Feeling of abandonment of the right of supervision of children, the sole responsibility of the school
                                        {% endtrans %}</li><li>{% trans %}False information about parents and other legal guardians or supervisors
                                        {% endtrans %}</li><li>{% trans %}Misuse of informations sent to parents
                                        {% endtrans %}</li><li>{% trans %}Slowness observed when finding a student's complete file
                                        {% endtrans %}</li><li>{% trans %}Lack of knowledge of the pupil's health report with the corollary of care that could jeopardize the pupil's health

                                        {% endtrans %}</li><li>{% trans %}False representatives or parents at the summons
                                        {% endtrans %}</li><li>{% trans %}Late taking of action by the parent of the corrections or improvements to be made in the education of his child

                                        {% endtrans %}</li><li>{% trans %}Differents level of knowledge and information about children
                                        {% endtrans %}</li><li>{% trans %}The people to contact are not always those who can influence the child's behavior
                                        {% endtrans %}</li><li>{% trans %}Mixed ability of parents to hold children after school or for homework
                                        {% endtrans %}</li>
                                    </ul>
                                    </div>
                                    