            <div id="functions" class="city">
                                                                                <summary class=""> <h4 class="text title w3-btn w3-light-blue w3-round-large fa fa-angle-right"> {% trans %}Features{% endtrans %}</h4></summary>                                    
                                                                                                                                                                <img  class="w3-image w3-padding w3-round-xxlarge w3-third" src="{{ asset('assets/img/appareil.jpg') }}" alt="microscope">

                                    <ul class="w3-ul w3-card w3-hoverable">
<li>{% trans %}  Possibility for the parent, the guardian, or the student himself to consult for all the information
{% endtrans %}</li><li>{% trans %}Information on specific shortcomings to guide follow-up action at home
{% endtrans %}</li><li>{% trans %}Daily information about child send by mail or sms 
{% endtrans %}</li><li>{% trans %}Informations by phone call
{% endtrans %}</li><li>{% trans %}Integration of all information related to discipline, grades, school activities, attendance, homework not done, active participation in classes, extracurricular and extracurricular activities, etc.
{% endtrans %}</li><li>{% trans %}Availability of the child's up-to-date medical record to allow rapid treatment in the event of a problem
{% endtrans %}</li><li>{% trans %}Availability of a reliable information sheet of the pupil as obtained directly from parents.
{% endtrans %}</li><li>{% trans %}Availability of the student's detailed school file containing: Notes - Information sheet - Health sheet - Discipline - Peri and extracurricular activities - Various distinctions
{% endtrans %}</li><li>{% trans %}Possibility of retrospectively entering student files
{% endtrans %}</li><li>{% trans %}Possibility, for teachers and other administrative staff (s),
    to make the tests and corrections available, free of charge, with the
    possibility for students to consult easily and free of charge

{% endtrans %}</li><li>{% trans %}Section reserved for advice, useful websites,
     civic instruction, etc ... that students can consult for free
{% endtrans %}</li>
                                    </ul>
                                    </div>
                        