
                                    <div id="goals" class="city">
                                        <summary class=""> <h4 class="text title w3-btn w3-green fa fa-angle-right"> {% trans %}Goals{% endtrans %}</h4></summary>                                    
                                                                                                               <img  class="w3-image w3-padding w3-round-xxlarge w3-half" src="{{ asset('image/imag6.jpg') }}" alt='Une poignée de main'>

                                        <ul class="w3-ul w3-card w3-hoverable">
                                       
                                         

                                        <li>{% trans %}Create a synergy of actions around the student to change behavior
                                        {% endtrans %}</li><li>{% trans %}Deter and prevent reccurence
                                        {% endtrans %}</li><li>{% trans %}Provide a solution that take into account the occupations and educational level of parents
                                        {% endtrans %}</li><li>{% trans %}Involve the children themselves as well as the parents in the effort to clean up the school environment
                                        {% endtrans %}</li><li>{% trans %}Create a real proximity between parents and school administration
                                        {% endtrans %}</li><li>{% trans %}Challenge the parent on a specific aspect to improve or supervise in his child
                                        {% endtrans %}</li><li>{% trans %}Provide as much information as possible for both the parent and the establishment
                                        {% endtrans %}</li><li>{% trans %}Provide parents with directly exploitable and understandable information 
                                            to ensure actions are taken to bring their own to their education
                                        {% endtrans %}</li><li>{% trans %}Communicate on all aspects of the student's school life
                                        {% endtrans %}</li>
                                    </ul>
                                        </div>