<style>
    #owl-demo7 .item {
        height: 200px;
        max-height: 200px;
        min-height: 200px;
        background-color: red;
    }
    #owl-demo7 .card-box {
        height: 200px;
        max-height: 200px;
        min-height: 200px;
        background-color: red;
    }
    </style>
<div id="" class="owl-carousel owltest">
            
            </div>

   
   

