<style>
    </style>
<div id="" class="owl-carousel owltest">
           
    
    <div class="item ">
            <div class=" card-box bg-primary text text-center center" >
                <h4 class="w3-orange">{% trans %} THEY TRUST US {% endtrans %}</h4>

                <p ><img class="img-fluid mx-auto rounded" src="{{ asset('image/antic.jpg') }}" width="100%" height="100%"></p>

                <h4 class="w3-orange">ANTIC</h4>
            </div>
            
           
    </div>

   
    
   
           
    
    <div class="item ">
              <div class=" card-box bg-primary text text-center center" >
                <h4 class="w3-orange">{% trans %} THEY TRUST US {% endtrans %}</h4>

                <p ><img class="img-fluid img-responsive rounded mx-auto" src="{{ asset('image/mindub.jpg') }}" width="100%" height="100%"></p>

                <h4 class="w3-orange">MINEDUB</h4>
            </div>
            
           
    </div>

   
    
   
           
    
    <div class="item ">
            <div class=" card-box bg-primary text text-center center" >
                <h4 class="w3-orange">{% trans %} THEY TRUST US {% endtrans %}</h4>

                <p ><img class="img-fluid rounded" src="{{ asset('image/minresi.jpg') }}" width="100%" height="100%"></p>

                <h4 class="w3-orange">MINRESI</h4>
            </div>
            
           
    </div>

   
    
   
           
    
    <div class="item ">
            <div class=" card-box bg-primary text text-center center" >
                <h4 class="w3-orange">{% trans %} THEY TRUST US {% endtrans %}</h4>

                <p ><img class="img-fluid rounded" src="{{ asset('image/minesec.jpg') }}" width="100%" height="100%"></p>

                <h4 class="w3-orange">MINESEC</h4>
            </div>
            
           
    </div>

   
    
   
            </div>

   

