<div id="motivations" class="city">
                                   <summary class=""> <h4 class="text title w3-btn w3-teal fa fa-angle-right"> Motivations</h4></summary>
                                   <img  class="w3-image w3-padding w3-round-xxlarge w3-third" src="{{ asset('assets/img/education.webp') }}" alt="microscope">

                                    <ul class="w3-ul w3-card w3-hoverable">
                                        
<li>{% trans %}Contribute to the provision of adapted solutions in the educational monitoring of our youth to guarantee better and certain performance, 
{% endtrans %}</li><li>{% trans %}Reduce the rate of school delinquency and indiscipline through the identification of sources of seizure
{% endtrans %}</li><li>{% trans %}Help the parent in the supervision and school follow-up of his child
{% endtrans %}</li><li>{% trans %}Provide the school administration with decision-making and proactive tools
{% endtrans %}</li><li>{% trans %}Create a solution that helps all links in the educational chain from where they are and without any constraint
{% endtrans %}</li><li>{% trans %}Ensure that parents, the main providers of funds, can benefit from the repercussions of their investment on their children through their good results and behavior
{% endtrans %}</li><li>{% trans %}Track all the factors of poor student performance
{% endtrans %}</li>
                                    </ul>
                                    </div>